/* styles.css */

/* Reset some default styles */
/*body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}*/
body {
    background-color: #333;
    color: #fff;
}

header {
    background-color: #264653;
    color: #fff;
}

nav {
    background-color: #2a9d8f;
}

nav a {
    color: #fff;
}
.navbar-btn {
    margin-right: 10px;
}
.card-header.like{
    background-color: #198754;
    color: #fff;
}
.card-header.dislike {
    background-color: #dc3545;
    color: #fff;
}
.custom-card{
    max-width: 80%;
    margin: 0 auto;
}
.center-align{
    align-items: center;
    justify-content: center;
    display: flex;
}
.jumbotron{
    background-color: #000;
    color: #fff;
    padding: 80px;
    border-radius: 0.6rem;
}

.jumbotron .btn {
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.logo {
    max-height: 50px;
    max-width: 50px;
}
.carousel-image {
    width: 100%;
    /* Full width of the column */
    height: 50%;
    /* Fixed height */
    /*object-fit: cover;*/
    /* This will cover the area without stretching the image */
}
.text-container {
    padding-right: 15px;
    margin-right: 15px;
}


/* Apply styles to all links */
a {
    color: #007bff; /* Set link color */
    text-decoration: none; /* Remove underline by default */
    outline: none;
}

/* Apply styles on hover */
a:active,
a:hover {
    text-decoration: blink; /* Add underline on hover */
}

