<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='logo.png') }}" type="image/png">
  </head>
  <body>
  
    {% include 'navbar.html' %}
  
    <div class="container my-4 center-align">
      <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <!-- First Carousel Item -->
          <div class="carousel-item active" data-bs-interval="5000">
            <img src="{{ url_for('static', filename='logo.png') }}" class="d-block w-50" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h2>About Me</h2>
              <p>
                I'm Jose Brouwer, a Software Engineer. Here you'll find my projects, resume, and more about me. You can also access my
                HackerNews Newsfeed page by logging in with Auth0.
              </p>
            </div>
          </div>
  
          <!-- Second Carousel Item -->
          <div class="carousel-item" data-bs-interval="5000">
            <img src="{{ url_for('static', filename='logo.png') }}" class="d-block w-50" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h2>My Resume</h2>
              <a href="{{ url_for('static', filename='resume.pdf') }}" class="btn btn-primary">Download Resume</a>
            </div>
          </div>
  
          <!-- Third Carousel Item -->
          <div class="carousel-item" data-bs-interval="5000">
            <img src="{{ url_for('static', filename='logo.png') }}" class="d-block w-50" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h2>Projects</h2>
              <p>
                Here you can find direct links to my Github and the source code for this website along with a Sorting Algorithm Timing
                program which can be used to create plots of the results.
              </p>
            </div>
          </div>
  
          <!-- Fourth Carousel Item -->
          <div class="carousel-item" data-bs-interval="5000">
            <img src="{{ url_for('static', filename='logo.png') }}" class="d-block w-50" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h2>Interests</h2>
              <p>
                These are some of the topics I am looking to further my knowledge in and work on projects that challenge me in these
                areas. Outside of Computer Science, I enjoy rock Rock Climbing, and working out!
              </p>
            </div>
          </div>
        </div>
  
        <!-- Carousel Controls -->
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"></script>
  </body>
</html>
