<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Landing Page</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='landing.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
        <link rel="icon" href="{{ url_for('static', filename='logo.png') }}" type="image/png">
    </head>
    <body>
        {% include 'navbar.html' %}
        
        <div class="hero-container">
            <div class="hero-content">
                <div class="block-centered">
                    <div class="main-text">Welcome!</div>
                    <div class="secondary-text">I'm Jose Brouwer, a Software Engineer. Here you'll find my projects, resume, and socials (see navigation bar above). You can also access my HackerNews Newsfeed page by logging in or signing up with Auth0.</div>
                </div>
            </div>
            <img class="hero-image" src="../static/Jose Brouwer Image.jpg">
        </div>

        <div class="gallery-container">
            <p class="gallery-header-text">My Projects</p>
            <div class="blurb-centered">
                <p class="secondary-text">Each project below is linked to its respective repository and has detailed READMEs on how to get each project running on your device and the technologies used! <strong>Click on the images to view a quick snapshot of each project.</strong></p>
            </div>

            <div class="gallery-item-container">
                <div class="gallery-item">
                    <a href="../static/source-code.png" target="_blank">
                        <img class="gallery-image" src="../static/source-code.png">
                    </a>
                    <a href="https://github.com/JoseBrouwer/josebrouwer.me" target="_blank" class="gallery-text">Click here to see the GitHub Repository for this website!</a>
                </div>

                <div class="gallery-item">
                    <a href="../static/All Microseconds - No Insertion Sort.png" target="_blank">
                        <img class="gallery-image" src="../static/All Microseconds - No Insertion Sort.png">
                    </a>
                    <a href="https://github.com/JoseBrouwer/Sorting-Complexity" target="_blank" class="gallery-text">Repository for Sorting Algorithm Analysis in C++ and Matplotlib.</a>
                </div>

                <div class="gallery-item">
                    <a href="../static/LMS.png" target="_blank">
                        <img class="gallery-image" src="../static/LMS.png" alt="Learning Management System">
                    </a>
                    <a href="https://github.com/JoseBrouwer/Learning-Management-System" target="_blank" class="gallery-text">Repository for a Learning Management System in C# and .NET MAUI.</a>
                </div>
                
                <div class="gallery-item">
                    <a href="../static/ExcelParsing.png" target="_blank">
                        <img class="gallery-image" src="../static/ExcelParsing.png">
                    </a>
                    <a href="https://github.com/JoseBrouwer/MVC-ExcelParsing-App" target="_blank" class="gallery-text">Parse Excel sheets for sorting, search, and pagination using C#, Razor Pages and Entity-Framework Core.</a>
                </div>
            </div>

        </div>

        <div class="odin-container">
            <a href="https://www.theodinproject.com/" target="_blank" class="odin-header-text">The Odin Project</a>
            <div class="blurb-centered">
                <p class="blurb-text">Continuing my education post-graduation led me to The Odin Project. A free, self-paced, open source course that teaches you the basics of web-development. Using what I learned from this course I have revamped this entire page to better showcase my skills and the projects I developed through it. <strong>Each project has a live demo, give them a try!</strong></p>
            </div>

            <div class="gallery-item-container">
                <div class="gallery-item">
                    <a href="../static/RPS.png" target="_blank">
                        <img class="gallery-image" src="../static/RPS.png">
                    </a>
                    <a href="https://github.com/JoseBrouwer/josebrouwer.me" target="_blank" class="odin-text">-> Repository for a simple game of Rock, Paper, Scissors on your browser!</a>
                    <a href="https://josebrouwer.github.io/Rock-Paper-Scissors-JS/rps.html" target="_blank" class="odin-text">-> Live Demo!</a>
                </div>

                <div class="gallery-item">
                    <a href="../static/Etch-a-Sketch.png" target="_blank">
                        <img class="gallery-image" src="../static/Etch-a-Sketch.png">
                    </a>
                    <a href="https://github.com/JoseBrouwer/Etch-a-Sketch" target="_blank" class="odin-text">-> Repository for a browser Etch-a-Sketch.</a>
                    <a href="https://josebrouwer.github.io/Etch-a-Sketch/sketch.html" target="_blank" class="odin-text">-> Try sketching something with this live demo!</a>
                </div>

                <div class="gallery-item">
                    <a href="../static/Calculator.png" target="_blank">
                        <img class="gallery-image" src="../static/Calculator.png">
                    </a>
                    <a href="https://github.com/JoseBrouwer/JS-Calculator" target="_blank" class="odin-text">-> Repository for a browser calculator.</a>
                    <a href="https://josebrouwer.github.io/JS-Calculator/calculator.html" target="_blank" class="odin-text">-> Evaluate some expressions with this live demo!</a>
                </div>
                
                <div class="gallery-item">
                    <a href="../static/Template.png" target="_blank">
                        <img class="gallery-image" src="../static/Template.png">
                    </a>
                    <a href="https://github.com/JoseBrouwer/Landing-Page" target="_blank" class="odin-text"> -> The original landing page template I built and later re-purposed for this site.</a>
                    <a href="https://josebrouwer.github.io/Landing-Page/" target="_blank" class="odin-text">-> See the template here!</a>
                </div>
            </div>
        </div>

        <div class="hero-container">
            <div class="hero-content">
                <div class="block-centered">
                    <div class="main-text">My Interests</div>
                    <div class="secondary-text">From Video Games, Full-Stack, and Algorithms to Computer Hardware, Graphics, and multithreading. These are some of the topics I am looking to further my knowledge in and work on projects that challenge me in these areas.</div>
                    <div class="secondary-text">Outside of Computer Science, I enjoy rock climbing, working out, and immersing myself in a good book! I also like to explore my creative side by sketching and creating digital art.</div>
                </div>
            </div>
            <img class="interest-image" src="../static/Oni.jpg">
        </div>

        <footer>
            Jose Brouwer 2025
        </footer>
    </body>
</html>