<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <!-- <a class="navbar-brand" href="#">Navigate</a> -->
            <a class="navbar-brand" href="/">
              <img class="logo" src="{{ url_for('static', filename='logo.png') }}">
            </a>
            <!-- Social Media Icons -->
            <a class="nav-link mx-2" href="https://github.com/JoseBrouwer" target="_blank">
              <i class="fab fa-github"></i>
            </a>
            <a class="nav-link mx-2" href="https://www.linkedin.com/in/jose-brouwer-a54703232/" target="_blank">
              <i class="fab fa-linkedin"></i>
            </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {% if session %}
              <li class="nav-item">
                <a class="nav-link active" href="/news">News</a>
              </li>
              <li class="nav-item"></li>
                <a class="nav-link active" href="{{ url_for('static', filename='resume.pdf') }}" target="_blank">Resume</a>
              </li>
              <li class="nav-item"></li>
                <a class="nav-link active" href="/poesias">Thelma Leo Poesías</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Account
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="/profile">Profile</a></li>
                  <li><a class="dropdown-item" href="/admin">Admin</a></li>
                </ul>
              </li>
            {% else %}
              <li class="nav-item"></li>
                <a class="nav-link active" href="{{ url_for('static', filename='resume.pdf') }}" target="_blank">Resume</a>
              </li>
              <li class="nav-item"></li>
                <a class="nav-link active" href="/poesias">Thelma Leo Poesías</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="/news">News</a>
              </li>
            {% endif %}
          </ul>
          <div class="d-flex align-items-center">
            {% if session %}
            <a class="btn btn-danger navbar-btn" href="{{ url_for('logout') }}">Logout</a>
            {% else %}
            <a class="btn btn-success navbar-btn" href="{{ url_for('signup') }}">Sign Up</a>
            <a class="btn btn-primary navbar-btn" href="{{ url_for('login') }}">Login</a>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
    </body>
 </head>
</html>
