<!-- templates/profile.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='logo.png') }}" type="image/png">
    <title>User Profile</title>
</head>
<body>
    {% include 'navbar.html' %} 

    <div class="container my-5">

        <div class="card mb-4">
            <div class="card-body text-center">
                <img src="{{ user_info.picture }}" class="rounded-circle img-fluid mb-3" alt="{{ user_info.name }}'s Picture">
                <h2 class="card-title">Profile: {{ user_info.name }}</h2>
                <!-- Other user details can go here -->
            </div>
        </div>

        {% for item in liked_feed %}
            <div class="custom-card" data-id="{{ item.id }}">
                <div class="card mb-3">
                    {% if item.liked %}
                        <div class="card-header like">
                            <h2 class="card-title">{{ item.title }}</h2>
                        </div>
                    {% elif item.disliked %}
                        <div class="card-header dislike">
                            <h2 class="card-title">{{ item.title }}</h2>
                        </div>
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-subtitle mb-2 text-muted">
                            <strong>Author:</strong> {{ item.by }}
                            <br>
                            <strong>Hacker News Score:</strong> {{ item.score }}
                            <br>
                            <strong>Time:</strong> {{ item.time }}
                            <br>
                            <strong>Link:</strong> <a href="{{ item.url }}" target="_blank" class="btn btn-info">{{ item.url }}</a>
                        </h5>
                        <p class="card-text">{{ item.text|safe }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <!-- {% if item.liked %}
                            <button type="button" class="btn btn-success" data-id="{{ item.id }}">Liked</button>
                            {% elif item.disliked %}
                            <button type="button" class="btn btn-danger" data-id="{{ item.id }}">Disiked</button>
                            {% endif %} -->
                            <button type="button" class="btn btn-outline-danger delete-button" data-id="{{ item.id }}">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>

