<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Thelma Leo Peña - Poesías</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='poesias.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='logo.png') }}" type="image/png">
    </head>
    <body>
        {% include 'navbar.html' %}

        <div class="flex-container">
            <div class="portrait">
                <img src="../static/portrait.jpg">
            </div>
            <div class="description">
                <h1>Thelma Leo Peña</h1>
                <p lang="es">Esto es una descripcion</p>
                <button class="btn btn-success">Ver Poesías</button>
            </div>
        </div>
        
    </body>
</html>