[Unit]
Description=Gunicorn instance for Pyhton WebApp
After=network.target
[Service]
User=jose
Group=www-data
WorkingDirectory=/home/jose/project
Environment="PATH=/home/jose/project/venv/bin"
ExecStart=/home/jose/project/venv/bin/gunicorn --workers 3 --bind unix:/home/jose/project/project.sock wsgi:app
Restart=always
[Install]
WantedBy=multi-user.target
